node_modules/
dist/
build/icon.icns
build/icon.ico
client/release/
server/updates/*.yml
server/updates/*.exe
server/updates/*.dmg
server/updates/*.AppImage
server/updates/*.blockmap
.env
.env.local
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
coverage/

# client build artifacts
client/release/
client/node_modules/
client/dist/

# server build artifacts
server/node_modules/
server/release/
server/frontend/node_modules/
server/frontend/dist/
